// Divs
.window {
    background-color:rgb(238, 238, 238);
}

.content {
    height: 100%;
    margin: 24px;
}

@media (max-width: 719px) {
    .content {
        margin: 16px;
    }
}

// Links
a 
{
    color: inherit;
    text-decoration: inherit;
}
  