<div fxLayout="column" fxFill class="window">
  <mat-toolbar>
    <a fxFlex class="homeLink" [routerLink]="['/main']" routerLinkActive="router-link-active">Motorradclub Baumgartenberg</a>
    <button mat-icon-button matTooltip="Admin login" (click)="navigateLogin()" *ngIf="!showLogout">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout" (click)="logOut()" *ngIf="showLogout">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <div fxFlex fxLayout="column" class="content">
    <router-outlet></router-outlet>
  </div>
</div>